h1{
  color: #938fb8;
}

p{
  color: #09090963;                                                       
}
hr{
  width: 10%;
  margin: 0 auto;
}
.bg-bLack{
  background: #090909 !important;
}
.main-title{
  padding-top: 10em;
}
.section-home{
  background-image: url('../img/banner.jpg');  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.section-home h1, .section-home h3{
  color: #ffffff;
  text-align: center;
}

.chart {
	position: relative;
	display: inline-block;
	width: 140px;
	height: 140px;
	margin-bottom: 26px;
	text-align: center;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #fff;
	line-height: 140px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
.about-title{
  padding: 25px 0;
  margin-bottom: 10px;
}
.about-title hr{
  background: #938fb8;
  height: 2px
}
.section-about, .section-home{
  margin-bottom: 30px;
}

.skill-section{
  background: #938fb8;
  text-align: center;
  color: #fff;
}

.skill-head{
  padding: 25px 0;
  margin-bottom: 20px;
}
.skill-head h1{
  color: #fff;
}
.skill-head hr{
  background: #fff;
  height: 2px;
}